body{
    background-image: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?q=80&w=1217&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}

.first_Line{
  font-style: italic;
  color: white;
  text-align: center;
  font-size: 48px;
}

.inside{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  text-align: center;
}