#form{
  text-align: right;
}

#firstName{
  border: 3px white inset;
  border-radius: 10px;
  padding: 5px;
  
}
#lastName{
  border: 3px white inset;
  border-radius: 10px;
  padding: 5px;
}
#email{
  
}